<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
    <body class="bg-light">
        <style>
            section {
                margin-top: 5em;
                margin-bottom: 5em;
            }
        </style>
        <div class="container content">
            <header class="header fixed-top bg-dark text-light text-center">
                <span class="float-right">
                    {% if current_user.is_anonymous %}
                        <a href="{{ url_for('register') }}">Зарегистрироваться</a>
                        <a href="{{ url_for('login') }}">Войти</a>
                    {% else %}
                        {{ current_user.username }}
                        <a href="{{ url_for('logout') }}">Выйти</a>
                    {% endif %}
                </span>
                <h1 class="">{% block header %}{% endblock %}</h1>
            </header>
            <section>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for msg in messages %}
                            <p class="alert alert-danger">{{ msg }}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                {% block content %}
                {% endblock %}
            </section>
            <footer class="footer fixed-bottom bg-dark text-light text-center">
                <p>
                    {% block nav %}
                    {% endblock %}
                </p>
            </footer>
        </div>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>